<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= game %></h1>
    <form action="/games/<%= game %>/edit" method="POST">
      <ul>
        <% if (locals.allGenres) { %> <% allGenres.forEach(genre => { %> <% let isChecked = false;
        genresGame.forEach(genreGame => { if (genreGame.genre_name === genre.genre_name) { isChecked
        = true; console.log(genre)} }); %>
        <li>
          <label for="<%= genre.genre_name %>"><%= genre.genre_name %></label>
          <input type="checkbox" name="<%= genre.genre_name %>" <%= isChecked ? "checked" : "" %> />
        </li>
        <% }); %> <% } %>
      </ul>
      <label for="releaseYear">Release Year</label>
      <input type="text" name="releaseYear" value="<%= releaseYear%>" />
      <label for="publisher">Publisher</label>
      <input type="text" name="publisher" value="<%= publisher %>" />
      <label for="gameImg">Add Game Image: </label>
      <input type="file" name="gameImg" accept="image/png, image/gif, image/jpeg" />
      <a href="/games" id="cancelBtn">Cancel</a>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
