<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= title %></h1>
    <form action="/games/add" method="POST">
      <label for="videoGame">Video Game: </label>
      <input type="text" id="videoGame" name="videoGame" required />
      <div class="genre">
        <!-- Add options for multiple genres -->
        <ul>
          <% if (locals.genre) {%> <% genre.forEach(genre => { %>
          <label for="genre"><%= genre.genre_name %></label>
          <input type="checkbox" id="action" name="genre" value="<%= genre.genre_name %>" />
          <% }); %> <%}%>
          <label for="other">Other: </label>
          <input type="text" name="other" />
        </ul>
      </div>
      <label for="gameImg">Add Game Image: </label>
      <input type="file" name="gameImg" accept="image/png, image/gif, image/jpeg" />
      <button type="submit" onClick="addNewGame">Add Video Game</button>
    </form>
  </body>
</html>
